#header{
	width: 100%;
	min-height: 40px;
	background-color: #008099;
	text-align: center;
	margin-bottom: 20px;
}

#listContainer{
	padding: 20px;
}

img{
	margin-bottom: 20px;
	margin-top: 20px;
}

ul{ 
	list-style-type: none; 
}

body{
	text-align: center;
	background-color: #cccccc;
	margin: 0px;
	overflow-x: hidden;
	width: 100%;
}

.highlight{
	background-color: orange;
	
}
