body{
	background-color: #cccccc;
}

#container{
	width: 60%;
	margin-top: 90px;
	text-align: center;
	font-size: 24px;
	margin-left: auto;
	margin-right: auto;
}

#header{
	padding: 10px;
	background-color: #cd235a;
	min-height: 120px;
	margin: 10px;
	font-size: 36px;
	font-weight: bold;
}

#gifContainer{
	display: none;
}

#slider{
	display: block;
}

.small{
	width: 120px;
	margin-left: auto;
	margin-right: auto;
}

#content{
	background-color: #008099;
	min-height: 200px;
	margin: 10px;
	padding: 30px;
}
	
#footer{
	padding: 30px;
	min-height: 120px;
	background-color: #479863;
	margin: 10px;
}

.rounded{
	border-style: ridge;
	border-color: #999999;
	border-width: 10px;
	border-radius: 50px;
}

button{
	border-style: ridge;
	background-color: #cccccc;
	border-color: #999999;
	border-radius: 50px;
	border-width: 5px;
}
